.border-left-primary {
    border-left: .25rem solid #4e73df !important;
}
.border-left-success {
    border-left: .25rem solid #1cc88a !important;
}
.border-left-info {
    border-left: .25rem solid #36b9cc !important;
}
.border-left-warning {
    border-left: .25rem solid #f6c23e !important;
}

.table th {
    font-weight: 600;
    vertical-align: middle;
}

.table td {
    vertical-align: middle;
}

.badge-success {
    background-color: #1cc88a !important;
    color: #ffffff !important;
}

.badge-warning {
    background-color: #f6c23e !important;
    color: #333333 !important;
}
