<div class="my-4">
  <div class="container">
    <div class="row bg-light p-2 align-items-center d-flex">
      <!-- Left text -->
      <div class="col-md-6 text-center text-md-start">
        <h1 class="display-4">
          {{ 'home-page.news.welcome-text' | translate }}
        </h1>
      </div>

      <!-- Right card -->
      <div class="col-md-6 d-flex justify-content-center align-items-center">
        <div class="card w-75">
          <div class="card-header bg-primary text-white text-center">
            <h5 class="mb-0">አድራሻ</h5>
          </div>
          <div class="card-body">
            <strong>ስልክ፡</strong><br />
            <span>7533</span><br /><br />
            <strong>ኢሜይል፡</strong><br />
            <span>info&#64;aacrrsa.gov.et</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
