<ng-container *ngVar="(groupedBitstreams$ | async) as groups">
  @if (groups?.length > 0) {
    <ds-metadata-field-wrapper [label]="label | translate">
      <div class="file-section">
        @for (group of groups; track group.name) {
          <div class="mb-4 group-section">
            @if (group.name !== 'Other' || groups.length > 1) {
              <h5 class="mb-1 text-muted">{{ group.name }}</h5>
            }

            @for (file of group.bitstreams; track file.id) {
              <div class="file-item mb-1">
                <ds-file-download-link [bitstream]="file" [item]="item">
                  <span>
                    @if (primaryBitstreamId === file.id) {
                      <span class="badge bg-primary">{{ 'item.page.bitstreams.primary' | translate }}</span>
                    }
                    {{ dsoNameService.getName(file) }}
                  </span>
                  
                  <span> ({{(file?.sizeBytes) | dsFileSize }})</span>

                  @if (file.firstMetadataValue('legal.document.pageCount')) {
                    <span class="page-count text-muted ms-1">
                      • {{ file.firstMetadataValue('legal.document.pageCount') }} pages
                    </span>
                  }

                  @if (file.firstMetadataValue('legal.document.status') === "Inactive") {
                    <span class="badge bg-secondary ms-1" style="opacity: 0.6;">
                      {{ file.firstMetadataValue('legal.document.status') }}
                    </span>
                  }
                </ds-file-download-link>
              </div>
            }
          </div>
        }

        @if (isLoading) {
          <ds-loading message="{{'loading.default' | translate}}" [showMessage]="false"></ds-loading>
        }
        @if (!isLastPage) {
          <div class="mt-1" id="view-more">
            <button class="bitstream-view-more btn btn-outline-secondary btn-sm" (click)="getNextPage()">{{'item.page.bitstreams.view-more' | translate}}</button>
          </div>
        }
        @if (isLastPage && currentPage !== 1) {
          <div class="mt-1" id="collapse">
            <button class="bitstream-collapse btn btn-outline-secondary btn-sm" (click)="currentPage = undefined; getNextPage();">{{'item.page.bitstreams.collapse' | translate}}</button>
          </div>
        }
      </div>
    </ds-metadata-field-wrapper>
  }
</ng-container>
